walltime="10:00:00"
jobtype="single"
queue="queue"
qos="qos0"
account="ACCOUNT"
executor="slurm"

commands {
	localcmd {
		executor="local"
	}

	fastqc {
		modules="conda"
	}

	multiqc {
		modules="conda"
	}

	trim {
		modules="conda"
		walltime="36:00:00"
	}

	umi {
		modules="conda"
		jobtype="single"
	}

	bowtie {
		modules="conda"
		jobtype="smp"
		walltime="36:00:00"
	}

	samtools {
		modules="samtools/0.1.19"
	}

	STAR {
		modules="conda"
		jobtype="smp"
	  walltime="36:00:00"
	}

	salmon {
		modules="salmon/0.14.1"
		jobtype="smp"
		walltime="36:00:00"
	}
}
